$Monza: #D30208;
$Gold-Sand: #E5C685;
$Janna: #F5EED5;
$Rangoon-Green: #171714;
$Orient: #015386;
$Deep-Cerulean: #0074B1;
$Cod-Gray: #1D1D1D;

body,
html {
	background-color: $Rangoon-Green;
	min-height: 100vh;
	margin: 0;
	font-family: 'Droid Sans', sans-serif;
	display: grid;
}

#main {
	position: relative;
	margin: 0;
	// height: 100%;
	min-height: 100vh;


	header {
		order: 1;
		z-index: 1;
		position: sticky;
		top: 0;
		display: flex;
		flex-direction: row;
		margin-top: 0;
		background-color: $Rangoon-Green;


		#image {
			margin-top: 20px;
			margin-left: 20px;
			height: 50px;
			width: auto;
		}

		#img-caption {
			visibility: hidden;
		}

		h1 {
			margin-top: 20px;
			margin-left: 5px;
			font-size: 1.6em;
			justify-self: start;
			color: $Janna;

			&::before {
				content: "";
				background-color: $Deep-Cerulean;
				display: block;
				width: auto;
				height: 10px;
			}

			&::after {
				content: "";
				background-color: $Monza;
				display: block;
				width: auto;
				height: 10px;
			}
		}
	}

	article {
		height: 100vh;
		.bgimg-1,.bgimg-2, .bgimg-3, .bgimg-4 {
			position: relative;
			opacity: 0.65;
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.bgimg-1 {
		  background-image: url("images/ccc.jpg");
		  min-height: 100%;
		}

		.bgimg-2 {
		  background-image: url("images/new-york-bank-run-1930-granger.jpg");
		  min-height: 90vh;
		}

		.bgimg-3 {
		  background-image: url("images/farmers.jpg");
		  min-height: 90vh;
		}

		.bgimg-4 {
			background-image: url("images/hanging-poster.gif");
			min-height: 90vh;
		}

		.entry {
			text-align:center;
			padding:50px 80px;
			text-align: justify;
		}
		.inverted {
			color: $Janna;
			background-color: $Cod-Gray;
		}

		.notinverted {
			background-color: $Janna;
			color: $Cod-Gray;
		}

		.caption {
		  position: absolute;
		  left: 0;
		  top: 50%;
		  width: 100%;
		  text-align: center;
		  color: $Janna;
			font-weight: bold;
		}

		.caption span.border {
		  background-color: $Gold-Sand;
		  color: $Janna;
		  padding: 18px;
		  font-size: 30px;
		  letter-spacing: 10px;

		}

		h3 {
			text-align:center;
		  letter-spacing: 5px;
		  text-transform: uppercase;
		  font: 20px "Lato", sans-serif;
		  color: $Deep-Cerulean;
			}

		footer {
			padding: 10px 60px;
			font-size: 0.8em;
			color: $Janna;
			bottom: 0;
			background-color: $Rangoon-Green;
			span {
				font-size: 0.6em;
			}
			a {
				color: $Orient;
			}
		}
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4{
        background-attachment: scroll;
    }
}

}
